
.fondo-card{
    background-color: #b599b4  ;
}
.imagen-card {
    max-height: 400px;
}
.card-ubic{
    padding-right: 1rem;
    padding-left: 1rem;
}
.titulo{
    font-family: 'Zen Dots', cursive;
}
.texto{
    font-family: 'Antonio', sans-serif;
}